#homepage {
    background: url("img/agriculture.jpg") no-repeat 50% 50%;
    background-size: cover;
    min-height: 100vh;
    width: auto;
    background-position: center;
    text-align: center;   
}

#hmongpage {
    /* padding: 20px;
    margin: 10px; */
    min-height: 100vh;
    background-position: center;
    text-align: center;

}



h1 {
    font-size: 400% !important;
    position: relative;
    color: rgba(0, 0, 0, 0.826);
    top: 250px;
    left: 300px;
    font-weight: bolder;
    text-shadow: -3px 3px 2px #bcf5a9;
}
h3 {
    margin: 75px;
    padding: 30px;
}
h5, h6 {
    opacity: 0.7;
    margin: 75px;
}
table {
    padding: 100px;
    margin: 100px;
    margin-bottom: 50px;
}
#videoNom {
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reseau-sociaux {
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: center;
    
}
.nav-item {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: row;

}


.card-text {
    font-weight: bolder;
}

#archive {
    padding: 10px;
    align-items: center;
}

.title {
    padding: 20px;
}

@media  screen and (max-width: 1100px) {
    h1 {
        top: 80px;
        left: 10px;
    }
    #homepage {
        background-position: 30%;
    }
}

@media  screen and (max-width: 1000px) {
    .nav-item {
        display: flex;
        margin: 10px;
        padding: 10px;
        flex-direction: row;
    
    }
}
@media screen and (max-width: 1800px) {
    table {
        overflow: hidden;
        padding: 20px;
        margin: 20px;
    }
    h3, h5, h6 {
        margin: 20px;
    }
}